@using Microsoft.AspNetCore.Identity
@using CodeBuggy.Data
@using PagedList.Mvc

@model PagedList.IPagedList<CodeBuggy.Controllers.HomeController>
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    int currentPage = ViewBag.ProjectList.PageNumber;
    int totalPages = ViewBag.ProjectList.PageCount;
}

@if (SignInManager.IsSignedIn(User))
{

<h2>Your Projects</h2>

<table class="content-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.ProjectList)
        {
            <tr class="clickable-row" data-href="@Url.Action("Details", "YourController", new { id = item.Id })">
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.AccessCode</td>
            </tr>
        }
    </tbody>
</table>

<div>
    Page @currentPage of @totalPages
        @if (ViewBag.ProjectList.HasPreviousPage)
    {
        <a href="@Url.Action("Index", new { page = currentPage - 1 })">Previous</a>
    }

    @for (int i = 1; i <= totalPages; i++)
    {
        if (i == currentPage)
        {
            <strong>@i</strong>
        }
        else
        {
            <a href="@Url.Action("Index", new { page = i })">@i</a>
        }
    }

        @if (ViewBag.ProjectList.HasNextPage)
    {
        <a href="@Url.Action("Index", new { page = currentPage + 1 })">Next</a>
    }
</div>
}
else
{
    <h1 style="font-size: 50px;">Welcome to CodeBuggy</h1>
    <p style="font-size: 24px;">Your Software Devlopment Ticketing and Workflow Platform</p>
    <img src="Images/CodeBuggyLogo.jpg" alt="img:CodeBuggyLogo" style="max-width: 30%; max-height: 30%;">
}
