@using Microsoft.AspNetCore.Identity
@using CodeBuggy.Models.Projects
@using CodeBuggy.Helpers
@using PagedList.Mvc

<script type="text/javascript" src="~/js/projectsList.js"></script>

@model ProjectsListModel

@if (User.Identity?.IsAuthenticated ?? false)
{
<div style="display: grid; grid-template-columns: 1fr auto;">
    <h2 style="text-align: center;">Your Projects</h2>

        <a class="create-button" style="text-align: right;" onclick="showPopup('addProjectPopup')">
        <span class="gg-math-plus"></span>
        <span style="margin-left: 5px">New project</span>
    </a>
</div>

    @Html.Raw(ViewBag.ProjectTable)

    <div>
    @Html.Raw(ViewBag.Pagination)
</div>
}
else
{
    <div>Access Denied: Please Login to view this page</div>
}

@****************************************************************@
@************************* Dynamic Code *************************@
@****************************************************************@
@{
    string projectButtons = @"
        <div id='projectButtons'>
            <a class='button-general mb-3' style='text-align: center; max-width: 380px' onclick='showExistingProject()'>
                <span>Add Existing Project</span>
            </a>
            <a class='button-general mb-3' style='text-align: center; max-width: 380px' onclick='showCreateProject()'>
                <span>Add New Project</span>
            </a>
        </div>";

    string addExistingProjectForm = @"<form id='addExistingProjectForm' action='AddExistingProject' style='display: none;' method='post'>";

    string addNewProjectForm = @"<form id='addNewProjectForm' action='AddNewProject' style='display: none;' method='post'>";

    string deleteProjectForm = @"
    <form id='deleteProject' action='DeleteProject' method='post'>
        <span style='text-align: center; font-size: 17px'>Enter Project Access Code</span>
        <div style='margin-top: 20px'></div>
        <div id='projectNameInput' class='form-floating mb-3' style='max-width: 380px'>
            <input name='Input.AccessCode' class='form-control' aria-required='true' placeholder='' />
            <label name='Input.AccessCode'>Project Access Code</label>
        </div>";
    

    string projectNameInput = @"
        <div id='projectNameInput' class='form-floating mb-3' style='max-width: 380px'>
            <input name='Input.Name' class='form-control' autocomplete='ProjectName' aria-required='true'
                placeholder='' />
            <label name='Input.Name'>Project name</label>
        </div>";

    string projectAccessCodeInput = @"
        <div id='projectAccessCode' class='form-floating mb-3' style='max-width: 380px'>
            <input name='Input.AccessCode' class='form-control' autocomplete='ProjectAccessCode'
                aria-required='true' placeholder='' />
            <label name='Input.AccessCode'>Project Access Code</label>
        </div>";

    string submitButton = @"
        <button id='submitButton' type='submit' class='button-general mb-3 mt-5'
            style='text-align: center; max-width: 160px'>";

    string inviteEmailForm = @"
        <form id='inviteEmail' action='InviteEmail' method='post'>
        <div style='text-align: center; font-size: 17px; margin-bottom: 20px;'>Enter Email Address</div>
        <div class='form-floating mb-3' style='max-width: 380px; margin: 0 auto;'>
            <input name='Input.Email' class='form-control' aria-required='true' placeholder=''/>
            <label name='Input.Email'>Email</label>
        </div>
        <input type='hidden' name='Input.AccessCode' id='accessCodeInput' />
        <input type='hidden' name='Input.Name' id='nameInput'/>";
    
    string sendButton = @"
        <button id='submitButton' type='submit' class='button-general mb-3 mt-5'
            style='text-align: center; max-width: 160px'>";

    // New Project Popup Creation
    var addProjectPopup = new Popup();
    var addExistingProjectDOM = addExistingProjectForm + projectNameInput + projectAccessCodeInput + submitButton + "Add Project" + "</button>" + "</form>";
    var addNewProjectDOM = addNewProjectForm + projectNameInput + submitButton + "Add Project" + "</button>" + "</form>";
    var addProjectPopupHTML = addProjectPopup.CreatePopup("addProjectPopup", "Add Project", new string[] { projectButtons, addExistingProjectDOM, addNewProjectDOM });
    @Html.Raw(addProjectPopupHTML)


    // Delete Popup creation
    var deleteProjectPopup = new Popup();
    var deleteProjectDom = deleteProjectForm + submitButton + "Delete Project" + "</button>" + "</form>";
    var deleteProjectPopupHTML = deleteProjectPopup.CreatePopup("deleteProjectPopup", "Delete Project", new string[] { deleteProjectDom });
    @Html.Raw(deleteProjectPopupHTML)

    // Send Invite Email Popup creation
    var inviteEmailPopup = new Popup();
    var inviteEmailDom = inviteEmailForm + sendButton + "Send Invite" + "</button>" + "</form>";
    var inviteEmailPopupHTML = inviteEmailPopup.CreatePopup("inviteEmailPopup", "Project Invite", new string[] { inviteEmailDom });
    @Html.Raw(inviteEmailPopupHTML)
}

